<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/foundation.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
   <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="/" class="button">Home</a></li>
             <li><a href="#" class="button">My Post</a></li>
             <li><a href="/newentry" class="button">New Entry</a></li>
             <li><a href="/logout" class="button">Logout</a></li>
            </ul>
          </div>
          <h1>Blog <small>This is my blog. It's awesome.</small></h1>
          <hr/>
        </div>
      </div>
     

      <div class="row">      
        <div class="large-9 columns" role="content">
          
          {% for entry in entries %}
          <article>
            
            <h3><a href="#"> {{entry.entry_title}} </a></h3>
            <h6> {{entry.entry_date}} </h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>{{entry.entry_body}}</p>
              </div>
              <div class="large-6 columns">
                <img src="http://placehold.it/400x240&text=[img]"/>
              </div>
            </div>
     
            <!-- <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p> -->
     
          </article>
          {% endfor %}
     
          <hr/>
     
        
     
        </div>
     
         
     
     
         
     
        <aside class="large-3 columns">
     
          <h5>Categories</h5>
          <ul class="side-nav">
            <li><a href="#">PHP</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">IOS</a></li>
          </ul>
     
          <!-- <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div> -->
     
        </aside>
     
         
      </div>
  </body>  
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© 2015 Copyright DreamCrops International</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="/">Home</a></li>
                <li><a href="#">My Post</a></li>
                <li><a href="/newentry">New Entry</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  
  
</html>